In [1]:
%matplotlib inline

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import json

In [2]:
df = pd.read_csv('https://quality.data.gov.tw/dq_download_csv.php?nid=8357&md5_url=4a5c04583e3679602f057fb7ea5be5b7', thousands=',')

In [3]:
df.head()

,年別,居住地,細分,合計,商人,秘書職員,專門技術,文化工作,家庭主婦,軍公職,其他,未列明
0,2013,亞洲地區,香港.澳門 HongKong. Macao,1183341,88758,29622,11635,32163,29356,1875,79274,910658
1,2013,亞洲地區,大陸 Mainland China,2874702,1095270,11752,39787,200379,726326,11671,505391,284126
2,2013,亞洲地區,日本 Japan,1421550,130316,561045,41424,156941,159837,22055,94276,255656
3,2013,亞洲地區,"韓國 Korea,Republic of",351301,60796,43506,17523,62320,38262,12088,32805,84001
4,2013,亞洲地區,印度 India,23318,6175,1383,4553,2391,985,70,5683,2078

In [4]:
df.shape

(92, 12)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 12 columns):
年別      92 non-null int64
居住地     92 non-null object
細分      92 non-null object
合計      92 non-null int64
商人      92 non-null int64
秘書職員    92 non-null int64
專門技術    92 non-null int64
文化工作    92 non-null int64
家庭主婦    92 non-null int64
軍公職     92 non-null int64
其他      92 non-null int64
未列明     92 non-null int64
dtypes: int64(10), object(2)
memory usage: 8.7+ KB

In [6]:
set(df['居住地'])

{'亞洲地區', '全區', '大洋洲', '歐洲地區', '美洲地區', '非洲地區'}

In [7]:
df['家庭主婦/合計'] = np.where(df['家庭主婦'] < 1, df['合計'], df['家庭主婦']/df['合計'])

In [8]:
set(df['年別']) # 年別: {2013, 2015}
df2013 = df[(df.年別==2013)]
df2015 = df[(df.年別==2015)]

In [9]:
df.groupby(['居住地'])[["合計", "家庭主婦", "軍公職"]].sum()

            合計     家庭主婦     軍公職
居住地
亞洲地區  35903771  5240744  361491
全區    18528560  2639784  171319
大洋洲     337070    35084    2930
歐洲地區    994194    37636    4992
美洲地區   2181276   191534    8268
非洲地區     37910     1446     672

In [10]:
df.sort_values(by=['家庭主婦/合計'], ascending=False)

,年別,居住地,細分,合計,商人,秘書職員,專門技術,文化工作,家庭主婦,軍公職,其他,未列明,家庭主婦/合計
1,2013,亞洲地區,大陸 Mainland China,2874702,1095270,11752,39787,200379,726326,11671,505391,284126,0.252661
47,2015,亞洲地區,大陸 Mainland China,4184102,1865938,6553,4021,293759,998861,24207,522546,468217,0.238728
61,2015,亞洲地區,亞洲合計 Total,9469559,2402033,847693,151492,935248,1429235,96631,1066573,2540654,0.150929
15,2013,亞洲地區,亞洲合計 Total,7138786,1598908,752459,201463,625380,1077369,66233,994456,1822518,0.150918
91,2015,全區,總計 Grand Total,10439785,2531590,905580,243996,1065357,1496702,101079,1206280,2889201,0.143365
45,2013,全區,總計 Grand Total,8016280,1749739,807332,299917,758198,1142917,70228,1142516,2045433,0.142574
16,2013,美洲地區,加拿大 Canada,72693,11628,6145,4866,12835,9973,300,13579,13367,0.137193
11,2013,亞洲地區,東南亞地區 越南 Vietnam,118467,3579,2036,4843,5098,15202,908,35447,51354,0.128323
6,2013,亞洲地區,東南亞地區 馬來西亞 Malaysia,394326,85803,32167,19119,72666,47818,1547,51299,83907,0.121265
37,2013,大洋洲,澳大利亞 Australia,65777,12671,6208,4492,10198,7693,539,15659,8317,0.116956
40,2013,大洋洲,大洋洲合計 Total,77722,14939,7064,5230,12581,8940,691,18297,9980,0.115025
62,2015,美洲地區,加拿大 Canada,90666,10415,6904,4516,12215,10249,330,13045,32992,0.113041
2,2013,亞洲地區,日本 Japan,1421550,130316,561045,41424,156941,159837,22055,94276,255656,0.112439
3,2013,亞洲地區,"韓國 Korea,Republic of",351301,60796,43506,17523,62320,38262,12088,32805,84001,0.108915
38,2013,大洋洲,紐西蘭 New Zealand,10694,2083,775,668,2182,1140,67,2313,1466,0.106602
52,2015,亞洲地區,東南亞地區 馬來西亞 Malaysia,431481,74940,33449,16546,59540,45801,1614,49883,149708,0.106148
13,2013,亞洲地區,東南亞地區 東南亞小計 Sub-Total,1261596,212482,104296,83260,167609,121910,18269,272757,281013,0.096632
12,2013,亞洲地區,東南亞地區 東南亞其他地區 Others,8935,1435,393,1065,964,853,92,1967,2166,0.095467
83,2015,大洋洲,澳大利亞 Australia,76122,11355,6046,3679,10015,7227,597,13537,23666,0.094940
86,2015,大洋洲,大洋洲合計 Total,90813,13456,6952,4360,12215,8602,774,16049,28405,0.094722
85,2015,大洋洲,大洋洲其他地區 Others,1886,179,117,68,163,178,113,360,708,0.094380
22,2013,美洲地區,美洲合計 Total,502446,87925,32493,63069,85449,47211,1910,87324,97065,0.093962
84,2015,大洋洲,紐西蘭 New Zealand,12805,1922,789,613,2037,1197,64,2152,4031,0.093479
48,2015,亞洲地區,日本 Japan,1627229,106805,618800,39411,193208,151363,27365,92393,397884,0.093019
49,2015,亞洲地區,"韓國 Korea,Republic of",658757,71721,93914,31119,142721,59664,20817,52538,186263,0.090571
7,2013,亞洲地區,東南亞地區 新加坡 Singapore,364733,86220,30495,25625,63363,33025,13075,58861,54069,0.090546
17,2013,美洲地區,美國 United States of America,414060,73865,25434,56364,68848,36691,1361,70064,81433,0.088613
39,2013,大洋洲,大洋洲其他地區 Others,1251,185,81,70,201,107,85,325,197,0.085532
68,2015,美洲地區,美洲合計 Total,588192,74443,35124,61110,83422,48556,2224,85925,197388,0.082551
53,2015,亞洲地區,東南亞地區 新加坡 Singapore,393037,80829,31933,23523,66326,31529,10932,58292,89673,0.080219
...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,2015,歐洲地區,瑞士 Switzerland,9453,1556,644,1012,1128,326,30,1366,3391,0.034486
79,2015,歐洲地區,瑞典 Sweden,8106,1275,372,1054,1141,256,26,1185,2797,0.031582
21,2013,美洲地區,美洲其他地區 Others,8334,1076,425,836,2501,259,189,1961,1087,0.031078
35,2013,歐洲地區,歐洲其他地區 Others,30808,5191,2051,4161,5114,939,319,5690,7343,0.030479
89,2015,非洲地區,非洲合計 Total,10160,1767,270,555,888,309,166,1293,4912,0.030413
42,2013,非洲地區,非洲其他地區 Others,4631,1031,158,410,778,137,153,905,1059,0.029583
65,2015,美洲地區,巴西 Brazil,4120,582,106,417,598,121,40,687,1569,0.029369
64,2015,美洲地區,墨西哥 Mexico,3063,390,280,328,457,89,24,476,1019,0.029056
51,2015,亞洲地區,中東 Middle East,18753,3252,927,3217,1423,523,156,2616,6639,0.027889
20,2013,美洲地區,阿根廷 Argentina,1124,128,110,73,211,31,3,368,200,0.027580
71,2015,歐洲地區,德國 Germany,54954,7431,2602,6491,7355,1500,192,6978,22405,0.027296
81,2015,歐洲地區,歐洲其他地區 Others,38810,5095,1858,3687,5250,979,357,5446,16138,0.025225
25,2013,歐洲地區,德國 Germany,46533,8606,2387,7291,6103,1169,169,7846,12962,0.025122
0,2013,亞洲地區,香港.澳門 HongKong. Macao,1183341,88758,29622,11635,32163,29356,1875,79274,910658,0.024808
29,2013,歐洲地區,西班牙 Spain,7128,1282,344,1168,1367,174,33,1397,1363,0.024411
66,2015,美洲地區,阿根廷 Argentina,1189,142,90,77,159,29,5,206,481,0.024390
5,2013,亞洲地區,中東 Middle East,13918,3371,581,2833,1176,316,86,2501,3054,0.022704
67,2015,美洲地區,美洲其他地區 Others,9702,994,394,701,1070,214,124,1754,4451,0.022057
72,2015,歐洲地區,義大利 Italy,15615,3211,1672,1478,1445,337,32,1744,5696,0.021582
50,2015,亞洲地區,印度 India,32198,5443,1215,3723,1912,688,130,5527,13560,0.021368
60,2015,亞洲地區,亞洲其他地區 Others,9438,1748,263,485,1330,198,126,1355,3933,0.020979
34,2013,歐洲地區,俄羅斯 Russian Federation,7226,1778,194,739,853,139,10,1083,2430,0.019236
75,2015,歐洲地區,西班牙 Spain,9065,1178,353,1053,1339,172,52,1475,3443,0.018974
26,2013,歐洲地區,義大利 Italy,13663,3547,1413,1782,1528,254,42,2223,2874,0.018590
32,2013,歐洲地區,希臘 Greece,1167,156,73,316,73,17,7,226,299,0.014567
88,2015,非洲地區,非洲其他地區 Others,5267,936,108,353,423,74,148,740,2485,0.014050
80,2015,歐洲地區,俄羅斯 Russian Federation,7808,1383,116,492,668,107,6,939,4097,0.013704
90,2015,全區,未列明 Unstated,7026,126,46,33,92,71,10,100,6548,0.010105
78,2015,歐洲地區,希臘 Greece,1465,107,29,266,76,10,10,172,795,0.006826
44,2013,全區,未列明 Unstated,65469,85,22,13,144,94,2,299,64810,0.001436

# #
#發現資料有 2013 2015 年的
#且全區資料不應該與其他國家一起分析
#各國家的也有 合計 或 小計 的資料，導致個國家總合大於 全區；應該刪除

In [11]:
# 全區的資料 另外處理
countries = df[df.居住地 != '全區']
countries = countries[~df['細分'].str.contains("合計")]
countries = countries[~df['細分'].str.contains("小計")]
all2013 = df2013[df.居住地 == '全區']
all2015 = df2015[df.居住地 == '全區']

countries2013 = countries[(countries.年別==2013)]
countries2015 = countries[(countries.年別==2015)]

c:\users\rorest\miniconda3\lib\site-packages\ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until
c:\users\rorest\miniconda3\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
c:\users\rorest\miniconda3\lib\site-packages\ipykernel_launcher.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """
c:\users\rorest\miniconda3\lib\site-packages\ipykernel_launcher.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [12]:
countries2013
all2013

,年別,居住地,細分,合計,商人,秘書職員,專門技術,文化工作,家庭主婦,軍公職,其他,未列明,家庭主婦/合計
44,2013,全區,未列明 Unstated,65469,85,22,13,144,94,2,299,64810,0.001436
45,2013,全區,總計 Grand Total,8016280,1749739,807332,299917,758198,1142917,70228,1142516,2045433,0.142574

In [13]:
countries2013['合計'].sum()

7950811

In [14]:
all2013[all2013.細分=="總計 Grand Total"]['合計'].values[0] - all2013[all2013.細分=="未列明 Unstated"]['合計'].values[0]

7950811

In [15]:
countries2013.sort_values(by=['家庭主婦/合計'], ascending=False).head()

,年別,居住地,細分,合計,商人,秘書職員,專門技術,文化工作,家庭主婦,軍公職,其他,未列明,家庭主婦/合計
1,2013,亞洲地區,大陸 Mainland China,2874702,1095270,11752,39787,200379,726326,11671,505391,284126,0.252661
16,2013,美洲地區,加拿大 Canada,72693,11628,6145,4866,12835,9973,300,13579,13367,0.137193
11,2013,亞洲地區,東南亞地區 越南 Vietnam,118467,3579,2036,4843,5098,15202,908,35447,51354,0.128323
6,2013,亞洲地區,東南亞地區 馬來西亞 Malaysia,394326,85803,32167,19119,72666,47818,1547,51299,83907,0.121265
37,2013,大洋洲,澳大利亞 Australia,65777,12671,6208,4492,10198,7693,539,15659,8317,0.116956

In [16]:
countries2015.sort_values(by=['家庭主婦/合計'], ascending=False).head()

,年別,居住地,細分,合計,商人,秘書職員,專門技術,文化工作,家庭主婦,軍公職,其他,未列明,家庭主婦/合計
47,2015,亞洲地區,大陸 Mainland China,4184102,1865938,6553,4021,293759,998861,24207,522546,468217,0.238728
62,2015,美洲地區,加拿大 Canada,90666,10415,6904,4516,12215,10249,330,13045,32992,0.113041
52,2015,亞洲地區,東南亞地區 馬來西亞 Malaysia,431481,74940,33449,16546,59540,45801,1614,49883,149708,0.106148
83,2015,大洋洲,澳大利亞 Australia,76122,11355,6046,3679,10015,7227,597,13537,23666,0.094940
85,2015,大洋洲,大洋洲其他地區 Others,1886,179,117,68,163,178,113,360,708,0.094380

In [17]:
countries2013.sort_values(by=['家庭主婦/合計'], ascending=False).tail()

,年別,居住地,細分,合計,商人,秘書職員,專門技術,文化工作,家庭主婦,軍公職,其他,未列明,家庭主婦/合計
29,2013,歐洲地區,西班牙 Spain,7128,1282,344,1168,1367,174,33,1397,1363,0.024411
5,2013,亞洲地區,中東 Middle East,13918,3371,581,2833,1176,316,86,2501,3054,0.022704
34,2013,歐洲地區,俄羅斯 Russian Federation,7226,1778,194,739,853,139,10,1083,2430,0.019236
26,2013,歐洲地區,義大利 Italy,13663,3547,1413,1782,1528,254,42,2223,2874,0.018590
32,2013,歐洲地區,希臘 Greece,1167,156,73,316,73,17,7,226,299,0.014567

In [18]:
countries2015.sort_values(by=['家庭主婦/合計'], ascending=False).tail()

,年別,居住地,細分,合計,商人,秘書職員,專門技術,文化工作,家庭主婦,軍公職,其他,未列明,家庭主婦/合計
60,2015,亞洲地區,亞洲其他地區 Others,9438,1748,263,485,1330,198,126,1355,3933,0.020979
75,2015,歐洲地區,西班牙 Spain,9065,1178,353,1053,1339,172,52,1475,3443,0.018974
88,2015,非洲地區,非洲其他地區 Others,5267,936,108,353,423,74,148,740,2485,0.014050
80,2015,歐洲地區,俄羅斯 Russian Federation,7808,1383,116,492,668,107,6,939,4097,0.013704
78,2015,歐洲地區,希臘 Greece,1465,107,29,266,76,10,10,172,795,0.006826

In [19]:
countries2013.groupby(['居住地'])[["合計", "家庭主婦", "軍公職"]].sum()

           合計     家庭主婦    軍公職
居住地
亞洲地區  7138786  1077369  66233
大洋洲     77722     8940    691
歐洲地區   223062     8889   1222
美洲地區   502446    47211   1910
非洲地區     8795      414    170

In [20]:
countries2013.groupby(['居住地'])[["家庭主婦/合計"]].mean()

       家庭主婦/合計
居住地
亞洲地區  0.088381
大洋洲   0.103030
歐洲地區  0.033826
美洲地區  0.061920
非洲地區  0.048053